body {
    background-image: url("assets/space.png");
    background-repeat: no-repeat;
    width: 100%
}


/*center canvas*/

canvas {
    margin: auto;
}

#container {
    top: 5%;
    left: 100px;
    position: absolute;
}
